/*
SITE COLORS:
Main Blue: #287aa9;
Light Blue: #3087b4;
Dark Blue: #143d55;
Dark Green: #70822e;
Light Green: #a0b842;
Preferred Gray: #999999;
*/

header .row {
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
}
nav {
    background: -webkit-linear-gradient(#3087b4, #287aa9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3087b4, #287aa9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3087b4, #287aa9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3087b4, #287aa9);
    color: #FFF;
    padding: 10px;
}
header a {color: #fff;}
footer {background-color: #f4f4f5; border-top: 1px solid #d5d5d5; padding: 25px 0;}
