<div class="row">
    <div class="small-12 columns">
        <h3>Website Development & Maintenance</h3>
        <p>Keeping your website up-to-date can be a timely chore. You don't want to spend hours researching how to get the perfect look to your website, you just want it to look good. Instead of spending time updating your website, you spend most of your time trying to fix things that are broken. Why not hire someone to take care of your website? All you need is someone who can take your content and place it on your site for you.</p>
        <p>At Justudios, we take the things that should be easy and make it easy for you. Whether that is training you to maintain your own website, or doing the work for you. Relax, together we are going to build something great.</p>
        <p>What makes your site so fast?<br>
        This site is build with Angular2 and Typescript. WHAT?! Ok, it's built with Javascript frameworks that make the page appear to load very quickly. In fact, it's not actually loading a new page at all. It is simply replacing the content with new content. This is something that can be done with many websites to help keep your customers engaged.</p>
    </div>
</div>
