<div class="row">
    <div class="small-12 columns">
        <h1>Website Services Offered</h1>
        <p>We offer many different services that will help you with your next project. Below are just a few of those services.</p>
    </div>
</div>                  
<div class="row">   
    <div class="small-12 medium-6 large-4 columns">
        <ul class="pricing-table no-bullet text-center">
            <li class="title">Website Maintenance</li>
            <li class="price">$75 / Hour</li>
            <li class="description">Keeping your website up-to-date can be a timely chore. You don't want to spend hours researching how to get the perfect look to your website, you just want it to look good. Instead of spending time updating your website, you spend most of your time trying to fix things that are broken. Why not hire someone to take care of your website? You don't need a full-time developer, you don't need a full-time designer, all you need is someone who can take your content and place it on your site for you.</li>            
            <li>Can Handle Any Size Website</li>
            <li>Great For All Websites</li>
            <li><a class="button" href="#">Buy Now</a></li>
        </ul>
    </div>
    <div class="small-12 medium-6 large-4 columns">
        <ul class="pricing-table no-bullet text-center">
            <li class="title">Website Maintenance Training (Videos)</li>
            <li class="price">$100 / 5 Minute Video</li>
            <li class="description">You want to learn how to maintain your website and we want to help. No matter if we built it or someone else did we can break the updating process down into several videos that will help you or anyone new to your company update your website. We try to keep videos under 5 minutes in length, this ensures that you, or the people who will be watching them later, can watch only the sections that you need. Each 5 minute video will be edited and research will be done before the video is shot. This isn't amateur hour over here.</li>
            <li>Great For All Websites</li>
            <li><a class="button" href="#">Buy Now</a></li>
        </ul>
    </div> 
</div> 
<div class="row">
    <div class="small-12 medium-6 large-4 columns">
        <ul class="pricing-table no-bullet text-center">
            <li class="title">Custom Websites (Brochure)</li>
            <li class="price">Starting At $2,500 (5 Page Website)</li>
            <li class="description">You are spending time working on your company and you want a website that looks as good as you do. You want something that makes it easy for your customers to find you, get in touch with you, and learn more about what makes you special. This is the plan for you. This site will give you everything that you need to get started from the ground up. Pair it with a maintenance package and feel safe knowing that your website will always be updated and current.</li>
            <li>Great For Law Firms, Small Businesses</li>
            <li><a class="button" href="#">Buy Now</a></li>
        </ul>
    </div>
    <div class="small-12 medium-6 large-4 columns">
        <ul class="pricing-table no-bullet text-center">
            <li class="title">Custom Websites (Full-Site)</li>
            <li class="price">Starting At $5,000 (10 Page Website)</li>
            <li class="description">This is the perfect package for someone who has a business that really wants to focus some attention on different aspects of their company. Whether it be multiple locations, different products / services, or a restaurant featuring multiple menus this is a great package for those who want a little more than just a brochure website.</li>
            <li>Great For Medium Sized Businesses, Multiple Locations</li>
            <li><a class="button" href="#">Buy Now</a></li>
        </ul>
    </div>
    <div class="small-12 medium-6 large-4 columns">
        <ul class="pricing-table no-bullet text-center">
            <li class="title">Custom Websites (Dynamic)</li>
            <li class="price">Starting At $10,000 (Dynamic Features)</li>
            <li class="description">You need a website that will work for you. This site will be your place for not only helping your customers find you, but for helping your customers as well. This site will be your online saleman, customer support team, or anything else you might need. This is a great option for those looking into growing their business with a web presence. Not only do you get all of this, but we also throw in our SEO (Search Engine Optimization) package for free.</li>
            <li>Great For Large Businesses</li>
            <li><a class="button" href="#">Buy Now</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-6 large-4 columns">
        <ul class="pricing-table no-bullet text-center">
            <li class="title">Search Engine Optimization (SEO Audit)</li>
            <li class="price">Starting At $1,000</li>
            <li class="description">We'll check out your website and see what can be done to help you rank higher in the search engines. Our experts will give you all of the information you need to make sure that you are following the best practices to increase your chances of ranking higher in search results.</li>
            <li>Great For Any Size Website</li>
            <li><a class="button" href="#">Buy Now</a></li>
        </ul>
    </div>
    <div class="small-12 medium-6 large-4 columns">
        <ul class="pricing-table no-bullet text-center">
            <li class="title">Search Engine Optimization (SEO Hands-On)</li>
            <li class="price">Starting At $2,500</li>
            <li class="description">We'll check out your website and see what can be done to help you rank higher in the search engines. Our experts will give you all of the information you need to make sure that you are following the best practices to increase your chances of ranking higher in search results. After that, we'll perform any and all changes that we can to help your website appeal more to Google and Bing. We will even show you how to make your images and media more appealing to the search engines as well.</li>
            <li>Great For Any Size Website</li>
            <li><a class="button" href="#">Buy Now</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-6 large-4 columns">
        <ul class="pricing-table no-bullet text-center">
            <li class="title">Website Development</li>
            <li class="price">$125 / Hour</li>
            <li class="description">Need something built? We do that! Let us know about your project and what you would like to achieve. We mostly focus on PHP and JavaScript, but if you have something that needs to be done elsewhere we can tackle that too. Even if it isn't something we feel we are the best to help, we would love to know more about your project. Here are some of the technologies we work with.</li>
            <li>PHP</li>
            <li>JavaScript (Angular1, Angular2, TypeScript, ECMA2015, Node, Express, React)</li>
            <li>HTML / CSSS</li>
            <li>Netsuite</li>
            <li>Wordpress</li>
            <li><a class="button" href="#">Buy Now</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <p>All prices are for informational purposes only and are subject to change. Due to some competitor agreements, we may not be able to work with your company.</p>
    </div>
</div>